.App {
  text-align: center;
  position: absolute;
width: 583px;
height: auto;
left: 300px;
top: 109px;
color:aliceblue;
background: #1D1825;
border-radius: 20px;
}

.task-input {
  margin-bottom: 20px;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-list li {
  margin-bottom: 10px;
}

.task-list li.done {
  text-decoration: line-through;
}
